@charset "UTF-8";

h1{
background-color: #AD00F4;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}
h2{
    background-color: #51375C;
    font-family: cursive;
}
h3{
    background-color: #0001F5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{

}