div.conteiner{
    background-color: lightsalmon;
    display: flex;
    flex-direction: row-reverse;
}

div.item{
    background-color: lightskyblue;
    border: 1px solid black;
    flex: auto;
    padding: 10px;
}